.~lock.*#
__pycache__/
.cache
/audio_files/
/data/
/kf_wiki_content/
/kf_wiki_files/
secrets/
sensitive/
/transcripts/
praw.ini
reddit_bot.log
/RainbowBatch.github.io/
/transcript_processing/first_15m/
