.~lock.*#
__pycache__/
.cache
audio_files/
data/
google_credentials.json
kf_wiki_content/
kf_wiki_files/
pywikibot/
secrets/
sensitive/
token.json
transcripts/
praw.ini
reddit_bot.log
RainbowBatch.github.io/
transcript_processing/first_15m/
