{%- macro i_am_a_bot() -%}

***

*I am a bot, and this comment was composed automatically. Please contact [u/CelestAI](/message/compose/?to=CelestAI) if you have any questions or concerns.*
{%- endmacro -%}

{%- macro results_omitted(n) -%}
*I've omitted {{n}} results which might contain sensitive information.*
{%- endmacro -%}
