{% import 'reddit_bot_macros.template' as macro %}

RainbowBatch takes commands in the form `u/RainbowBatch !verb "argument"`. Here are some examples:

`u/RainbowBatch !search "each one teach one"`

`u/RainbowBatch !episode "700"`

See instructions [here](https://github.com/RainbowBatch/wiki_bot/wiki/Reddit-Bot-(u-RainbowBatch)-Help) for more details.

{{ macro.i_am_a_bot() }}
