{% import 'reddit_bot_macros.template' as macro %}

I'm sorry, but something went wrong and I can't process your request right now. I've reported the error to my developers.

{{ macro.i_am_a_bot() }}
